/* Fuente */
* {
  font-family: 'Poppins', sans-serif;
}

/* Botones personalizados */
.btn-success {
  background-color: #2d8a45;
  border-color: #2d8a45;
}

.btn-success:hover {
  background-color: #23733a;
  border-color: #23733a;
}

/* Bordes redondeados más suaves */
.rounded-4 {
  border-radius: 1rem !important;
}

/* Tarjetas */
.card {
  border-radius: 1rem;
}
.card img {
  object-fit: contain;
}
/*Estilo login*/
.login-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.login-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  overflow: hidden;
}